*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  color: var(--text-color);
  background-color: var(--bg-color);
  /* сложный множественный фон */
  --bg-stripes: repeating-linear-gradient(
    90deg,
    #d3d3d3 0px,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  );
  background-image:
    var(--bg-stripes),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.content-width {
  width: var(--content-width);
  margin: 0 auto;
}
